.footer-toolbar {
  padding: 2rem 1rem;
  text-transform: uppercase;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.footer-section h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section a {
  display: block;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
  color: #f76c6c;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #ffffff33;
}
