<mat-toolbar>
  <img src="assets/ponokai-resort-logo.svg" alt="ponokai-resort-logo" height="40">
  <span class="spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/guest-services">Guest Services</a>
  <a mat-button routerLink="/safety-tips">Safety Tips</a>
  <a mat-button routerLink="/evacuation-procedures">Evacuation</a>
  <a mat-button routerLink="/check-in">Check In</a>
  <a mat-button routerLink="/check-out">Check Out</a>
  <a mat-button routerLink="/contact-us">Contact Us</a>
</mat-toolbar>